.autoComplete-wrapper {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 9999;

  // fix: Chrome在自动完成时隐藏input图标
  & > .magnifier {
    position: absolute;
    background-image: url(../assets/magnifier.svg);
    background-size: 1.4rem;
    background-position: left 1.05rem top 0.8rem;
    background-repeat: no-repeat;
    background-origin: border-box;
    width: 48px;
    height: 48px;
    z-index: 1;
  }

  #autoComplete {
    width: 250px !important;
    color: #003371;
    border: 1px solid rgba(0, 51, 113, 0.1);
    caret-color: #003371;
    background-image: none;

    // fix: Chrome在自动完成时改变input背景
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    &::-webkit-input-placeholder {
      color: rgba(123, 123, 123, 0.5) !important;
    }

    &:hover, &:focus {
      color: #003371;
      width: 250px;
      box-shadow: rgba(0, 51, 113, 0.1) 0 0 20px 5px;
    }

    &:hover::placeholder, &:focus::placeholder {
      color: #003371;
    }

    &::selection, &:focus::selection {
      background-color: #3297FD;
      color: white;
    }
  }
}

#autoComplete_list {
  position: absolute;
  width: 248px;
}

.autoComplete_result:hover, .autoComplete_result:focus {
  background-color: rgba(194, 233, 251, 0.8);
  border-left: 2px solid #a1c4fd;
  border-right: 2px solid #a1c4fd;
}

.autoComplete_selected {
  background-color: rgba(194, 233, 251, 0.8);
  border-left: 2px solid #a1c4fd;
  border-right: 2px solid #a1c4fd;
}

.autoComplete_highlighted {
  color: #003371;
}
