.meny-arrow {
  margin-top: unset !important; //reset default
  border: unset !important; //reset default
  top: calc(50% - 35px) !important; //reset default

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;

  & > i {
    font-size: 40px;
  }

  & > span {
    font-size: 16px;
  }
}
